<template>
    <nav class="navbar navbar-expand-sm navbar-dark bg-info mb-2">
        <div class="container">
            <router-link to="/articles">Articles</router-link>
            <router-link to="/products">Products</router-link>
            <!--<a href="#" class="navbar-brand">Articles</a>-->
            <!--<a href="products" class="navbar-brand">Products</a>-->
        </div>
    </nav>
</template>


<script>
    export default {
        name: "Navbar"
    }
</script>
