<div>
    <h2>Productes</h2>
    <form @submit.prevent="addArticle()" class="mb-3">
        <div class="form-group">
            <input type="text" class="form-control mb-2" placeholder="Title" v-model="article.title">
            <textarea class="form-control" placeholder="Body" v-model="article.body"></textarea>
            <button type="submit" class="btn btn-light btn-block">Save</button>
        </div>
    </form>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li v-bind:class="[{disabled: !pagination.prev_page_url}]" class="page-item"><a class="page-link" href="#" @click="fetchArticles(pagination.prev_page_url)">Previous</a></li>

            <li class="page-item disabled"><a class="page-link text-dark" href="#">Page {{ pagination.current_page }} of {{ pagination.last_page }}</a></li>

            <li v-bind:class="[{disabled: !pagination.next_page_url}]" class="page-item" @click="fetchArticles(pagination.next_page_url)"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>
    <div class="card card-body mb-2" v-for="article in articles" v-bind:key="article.id">
        <h3>{{ article.title }}</h3>
        <p>{{ article.body }}</p>
        <hr>
        <button @click="editArticle(article)" class="btn btn-warning mb-2">Edit</button>
        <button @click="deleteArticle(article.id)" class="btn btn-danger">Delete</button>
    </div>
</div>