<template>
  <div id="app">
      <navbar></navbar>
    <router-view></router-view>
  </div>

<!--    <navbar></navbar>
    <router-view></router-view>-->

</template>

<script>
import Navbar from './components/Navbar'
import Articles from './components/Articles'
import Products from './components/products/Products'

export default {
    components: {Navbar,Articles,Products},
    name: 'App'
}
</script>


<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
