<template src="./footer.html"></template>
<style src="./footer.css" scoped></style>
<!--<script src="./script.js"></script>-->

<script>
export default {
  name: 'FooterComponent',
    props:{
        mesg:{
            type:String,
            default:'Copyright 2018'
        }
    },
    data () {
    return {
      msg: 'Vue.js App Footer'
    }
  }
}
</script>

